# Backups and temporary files
*.*~
*.swp
*.bak
*.tmp
*.out
*.o

# Ignore .vscode/ in every subdirectory
**/.vscode/

# Ignore macOS metadata files
**/.DS_Store/

# Tags
tags

# Test files
test.c

# Ignore objs/ and dSYM/ directories recursively
**/objs/
**/*.dSYM/
